# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
#*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
# node_modules
**/node_modules/


# Keep the lock file in Git (do NOT ignore it):
#! .terraform.lock.hcl
.devcontainer/local.env
.env
.env.local
local.env
